[Desktop Entry]
Name=Cosmic Caps Lock
Comment=An application for the COSMIC™ desktop
Type=Application
Icon=com.github.pop-os.cosmic-app-template
Exec=cosmic-caps-lock %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
