[Desktop Entry]
Name=Cosmic Caps Lock
Comment=Indicadores de Bloq Mayús, Bloq Num y Bloq Despl para el panel COSMIC
Type=Application
Icon=io.github.nicos92.cosmic-caps-lock-symbolic
Exec=cosmic-caps-lock %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC;Keyboard;Caps Lock;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
MimeType=
